<!DOCTYPE html>
{% set current_route = app.request.get('_route') %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

    {% block main %}
        <!-- block main { -->
        <main>
            {% block main_inner %}
                <!-- block main_inner { -->

                {% block main_body %}
                    <!-- block main_body { -->

                    {% block main_body_inner %}
                        <!-- block main_body_inner { -->
                        <!-- } block main_body_inner -->
                    {% endblock %}

                    <!-- } block main_body -->
                {% endblock %}

                <!-- } block main_inner -->
            {% endblock %}
        </main>
        <!-- } block main -->
    {% endblock %}

    </body>
</html>
