{% set extendsLayout = pimcore_website_config('KITT3N\\Pimcore\\FormBundle\\Controller\\Kitt3nPimcoreFormFormController.detailAction.extends', '@Kitt3nPimcoreFormBundle/Resources/views/base.html.twig') %}
{% extends extendsLayout %}

{% block main_body_inner %}
    <!-- main_body_inner action { -->

    <div class="component component--form-detail detail">

        <div class="gc c6-6 xs">
            <div>
                <a class="history history--back" href="javascript:history.back()">
                    {{ 'back'|trans }}
                </a>
            </div>
        </div>

        <hr>

        <div class="gc c8 lg">

            <h1 class="field field--title{% if oObject.intro != '' %} mb-xs{% endif %}">
                {{ oObject.title }}
            </h1>

            {% if oObject.intro != '' %}
                {{ oObject.intro|raw }}
            {% endif %}

            {% if isValide %}

                {{ oObject.confirmationText|raw }}

            {% else %}

                <form action=""
                      method="post"
                      class="component component--form"
                      novalidate="novalidate">
                    {% for key, val in form.children %}

                        <div class="component component--{{ val.vars.block_prefixes.1 }}">
                            {% if val.vars.block_prefixes.1 == 'submit' %}
                            {{ form_row(form[key]) }}


                            {% elseif val.vars.block_prefixes.1 == 'checkbox' %}

                            <div class="form-field form-field--checkbox{% if val.vars.errors|length > 0 %} error{% endif %}">

                                <div class="component component--{{ val.vars.block_prefixes.1 }}">
                                    {{ form_widget(form[key]) }}
                                    <label for="{{ val.vars.id }}">
                                        <small class="error">
                                            {{ form_errors(form[key]) }}
                                        </small>
                                        {% if val.vars.required %}<span class="required">*</span>{% endif %}{{ val.vars.label|raw }}
                                    </label>
                                </div>

                            </div>

                            {% else %}

                                <div class="form-field form-field--input{% if val.vars.errors|length > 0 %} error{% endif %}">
                                    <div class="component component--{{ val.vars.block_prefixes.1 }}{% if val.vars.expanded is defined and val.vars.expanded %}-expanded{% endif %}{% if val.vars.multiple is defined and val.vars.multiple %}-multiple{% endif %}">
                                        {#                            {{ form_row(form[key]) }}#}

                                        {{ form_widget(
                                            form[key],
                                            {
                                                'attr':
                                                {
                                                    'value': val.vars.value,
                                                    'onkeyup': 'this.setAttribute(\'value\', this.value);',
                                                    'onchange': 'this.setAttribute(\'value\', this.value);'
                                                }
                                            }
                                        ) }}
                                        <label>
                                            {{ val.vars.label|raw }}{% if val.vars.required %}<span class="required">*</span>{% endif %}
                                            {% if val.vars.errors|length > 0 %}
                                                <small class="error">
                                                    {{ form_errors(form[key]) }}
                                                </small>
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>

                            {% endif%}
                        </div>

                    {% endfor %}
                </form>

            {% endif %}

        </div>

    </div>

    <!-- } main_body_inner action -->
{% endblock %}